{
  "root": true,
  "extends": ["plugin:vue/recommended", "eslint:recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "APP_DEBUG": true
  },
  "rules": {
    "indent": ["warn", "tab"],
    "semi": ["warn", "never"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "no-unexpected-multiline": "warn",
    "no-var": "warn",
    "array-bracket-spacing": ["error", "always", {
      "singleValue": false,
      "objectsInArrays": false,
      "arraysInArrays": false
    }],
    "object-curly-spacing": ["error", "always", {
      "objectsInObjects": false
    }],
    "space-before-blocks": ["warn", "always"],
    "space-in-parens": ["warn", "never"],
    "no-unused-vars": "warn",
    "comma-dangle": ["error", "always-multiline"],
    "vue/no-parsing-error": [2, {
      "invalid-first-character-of-tag-name": false
    }],
    "vue/require-component-is": "warn"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
