#!/bin/bash
##############################################
# This file contains the test credentials
# and the address where the Qvain is running.
##############################################

## Uncomment the following line to see the actual browser window.
#export TEST_DEBUG=1

## The test credentials
export TEST_USERNAME="teppo"
export TEST_PASSWORD="testaaja"
export TEST_ADDRESS="https://qvain.csc.local"
export TEST_FULLNAME="Teppo Testikäyttäjä"
